body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../402简介_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:76px;
    width:93px;
    height:442px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:448px;
}

.u1 {
    position:absolute;
    left:2px;
    top:213px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:6px;
    top:114px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:6px;
    top:88px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../主菜单取菜点_files/u103_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u4 {
    position:absolute;
    left:0px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:1px;
    top:0px;
    width:171px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:654px;
    top:16px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:964px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:295px;
    top:16px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:379px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:446px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:182px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u12_container {
    position:absolute;
    left:208px;
    top:11px;
    width:16px;
    height:22px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u13 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:241px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u15_container {
    position:absolute;
    left:919px;
    top:9px;
    width:16px;
    height:22px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u16 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:889px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../主菜单取菜点_files/u117_menu.png');
}

.u18_menu {
    position:absolute;
    left:882px;
    top:10px;
    width:44px;
    height:29px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u20_normal {
    background-image: url('../主菜单取菜点_files/u119_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_menu {
    background-image: url('../主菜单取菜点_files/u121_menu.png');
}

.u22_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:69px;
}

#u22_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

#u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:65px
}

.u24_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_menu {
    background-image: url('../主菜单取菜点_files/u129_menu.png');
}

.u30_menu {
    position:absolute;
    left:63px;
    top:37px;
    width:71px;
    height:92px;
}

#u30_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u32_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u38_normal {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:800px;
    top:16px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:102px;
    top:80px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:128px;
    top:114px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:128px;
    top:148px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:102px;
    top:182px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:122px;
    top:216px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:132px;
    top:250px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:202px;
    top:80px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_text_sketch {
    font-family: '应用字体';
}

.u49 {
    position:absolute;
    left:202px;
    top:114px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_text_sketch {
    font-family: '应用字体';
}

.u50 {
    position:absolute;
    left:202px;
    top:148px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: '应用字体';
}

.u51 {
    position:absolute;
    left:202px;
    top:182px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_text_sketch {
    font-family: '应用字体';
}

.u52 {
    position:absolute;
    left:202px;
    top:216px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_text_sketch {
    font-family: '应用字体';
}

.u54 {
    position:absolute;
    left:16px;
    top:0px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:16px;
    top:0px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:545px;
    top:80px;
    width:333px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:414px;
    top:148px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:119px;
    top:284px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:202px;
    top:284px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_text_sketch {
    font-family: '应用字体';
}

.u61 {
    position:absolute;
    left:124px;
    top:318px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:202px;
    top:318px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_text_sketch {
    font-family: '应用字体';
}

.u63 {
    position:absolute;
    left:125px;
    top:492px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63_text_sketch {
    font-family: '应用字体';
}

.u64 {
    position:absolute;
    left:306px;
    top:492px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64_text_sketch {
    font-family: '应用字体';
}

.u65 {
    position:absolute;
    left:93px;
    top:352px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:202px;
    top:350px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_text_sketch {
    font-family: '应用字体';
}

.u67 {
    position:absolute;
    left:432px;
    top:312px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_text_sketch {
    font-family: '应用字体';
}

.u68 {
    position:absolute;
    left:432px;
    top:344px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68_text_sketch {
    font-family: '应用字体';
}

.u69 {
    position:absolute;
    left:432px;
    top:280px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_text_sketch {
    font-family: '应用字体';
}

.u70 {
    position:absolute;
    left:432px;
    top:248px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_text_sketch {
    font-family: '应用字体';
}

.u71 {
    position:absolute;
    left:432px;
    top:210px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_text_sketch {
    font-family: '应用字体';
}

.u72 {
    position:absolute;
    left:241px;
    top:428px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:432px;
    top:78px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73_text_sketch {
    font-family: '应用字体';
}

.u74 {
    position:absolute;
    left:105px;
    top:388px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:202px;
    top:386px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75_text_sketch {
    font-family: '应用字体';
}

.u76 {
    position:absolute;
    left:432px;
    top:380px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76_text_sketch {
    font-family: '应用字体';
}

