body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../主菜单取菜点_files/u103_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u0 {
    position:absolute;
    left:7px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:8px;
    top:0px;
    width:171px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:661px;
    top:16px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:971px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:302px;
    top:16px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:386px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:453px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:189px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u8_container {
    position:absolute;
    left:215px;
    top:11px;
    width:16px;
    height:22px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u9 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:248px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u11_container {
    position:absolute;
    left:926px;
    top:9px;
    width:16px;
    height:22px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u12 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:896px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../主菜单取菜点_files/u117_menu.png');
}

.u14_menu {
    position:absolute;
    left:889px;
    top:10px;
    width:44px;
    height:29px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u16_normal {
    background-image: url('../主菜单取菜点_files/u119_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../主菜单取菜点_files/u121_menu.png');
}

.u18_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:69px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

#u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:65px
}

.u20_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../主菜单取菜点_files/u129_menu.png');
}

.u26_menu {
    position:absolute;
    left:63px;
    top:37px;
    width:71px;
    height:92px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u28_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u34_normal {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:807px;
    top:16px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:20px;
    top:61px;
    width:112px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:310px;
    top:101px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:20px;
    top:101px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:20px;
    top:333px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../404配送支持_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:20px;
    top:382px;
    width:459px;
    height:368px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:459px;
    height:368px;
}

.u43 {
    position:absolute;
    left:2px;
    top:176px;
    width:455px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:20px;
    top:778px;
    width:459px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:20px;
    top:138px;
    width:180px;
    height:172px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_text_sketch {
    font-family: '应用字体';
}

.u46 {
    position:absolute;
    left:310px;
    top:138px;
    width:180px;
    height:172px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_text_sketch {
    font-family: '应用字体';
}

.u47 {
    position:absolute;
    left:496px;
    top:61px;
    width:351px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:213px;
    top:177px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_text_sketch {
    font-family: '应用字体';
}

.u49 {
    position:absolute;
    left:213px;
    top:231px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_text_sketch {
    font-family: '应用字体';
}

#u50 {
    position:absolute;
    left:20px;
    top:836px;
    width:464px;
    height:65px
}

.u51_normal {
    background-image: url('../404配送支持_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../404配送支持_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:71px;
    top:0px;
    width:326px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../404配送支持_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:397px;
    top:0px;
    width:62px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../404配送支持_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:20px;
    width:71px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../404配送支持_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:71px;
    top:20px;
    width:326px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../404配送支持_files/u55_normal.png');
}

.u61_container {
    position:absolute;
    left:397px;
    top:20px;
    width:62px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../404配送支持_files/u51_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:40px;
    width:71px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../404配送支持_files/u53_normal.png');
}

.u65_container {
    position:absolute;
    left:71px;
    top:40px;
    width:326px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../404配送支持_files/u55_normal.png');
}

.u67_container {
    position:absolute;
    left:397px;
    top:40px;
    width:62px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:20px;
    top:914px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

