body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:131px;
    top:85px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:241px;
    top:76px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_text_sketch {
    font-family: '应用字体';
}

.u2 {
    position:absolute;
    left:140px;
    top:234px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:237px;
    top:234px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_text_sketch {
    font-family: '应用字体';
}

.u4 {
    position:absolute;
    left:394px;
    top:234px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:442px;
    top:234px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: '应用字体';
}

.u6 {
    position:absolute;
    left:602px;
    top:234px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../401基本信息_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:743px;
    top:220px;
    width:273px;
    height:281px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:281px;
}

.u8 {
    position:absolute;
    left:2px;
    top:132px;
    width:269px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:93px;
    top:116px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:241px;
    top:116px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_text_sketch {
    font-family: '应用字体';
}

.u11 {
    position:absolute;
    left:453px;
    top:116px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:143px;
    top:148px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:241px;
    top:148px;
    width:180px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_text_sketch {
    font-family: '应用字体';
}

.u14 {
    position:absolute;
    left:562px;
    top:399px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_text_sketch {
    font-family: '应用字体';
}

.u15 {
    position:absolute;
    left:620px;
    top:408px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:562px;
    top:355px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: '应用字体';
}

.u17 {
    position:absolute;
    left:620px;
    top:364px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:139px;
    top:540px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:562px;
    top:310px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_text_sketch {
    font-family: '应用字体';
}

.u34 {
    position:absolute;
    left:466px;
    top:319px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:408px;
    top:310px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_text_sketch {
    font-family: '应用字体';
}

.u36 {
    position:absolute;
    left:620px;
    top:319px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:323px;
    top:319px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:265px;
    top:310px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: '应用字体';
}

.u39 {
    position:absolute;
    left:222px;
    top:319px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:354px;
    top:319px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:466px;
    top:364px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:408px;
    top:355px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_text_sketch {
    font-family: '应用字体';
}

.u43 {
    position:absolute;
    left:323px;
    top:364px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:265px;
    top:355px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: '应用字体';
}

.u45 {
    position:absolute;
    left:222px;
    top:364px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:354px;
    top:364px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:466px;
    top:408px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:408px;
    top:399px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_text_sketch {
    font-family: '应用字体';
}

.u49 {
    position:absolute;
    left:323px;
    top:408px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:265px;
    top:399px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: '应用字体';
}

.u51 {
    position:absolute;
    left:222px;
    top:408px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:354px;
    top:408px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:221px;
    top:615px;
    width:98px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_text_sketch {
    font-family: '应用字体';
}

.u54 {
    position:absolute;
    left:454px;
    top:615px;
    width:98px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_text_sketch {
    font-family: '应用字体';
}

.u55 {
    position:absolute;
    left:139px;
    top:621px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:378px;
    top:621px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:140px;
    top:434px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:323px;
    top:434px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:562px;
    top:464px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: '应用字体';
}

.u60 {
    position:absolute;
    left:466px;
    top:473px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:408px;
    top:464px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_text_sketch {
    font-family: '应用字体';
}

.u62 {
    position:absolute;
    left:620px;
    top:473px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:323px;
    top:473px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:265px;
    top:464px;
    width:48px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64_text_sketch {
    font-family: '应用字体';
}

.u65 {
    position:absolute;
    left:222px;
    top:473px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:354px;
    top:473px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:510px;
    top:319px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:510px;
    top:364px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:510px;
    top:408px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:510px;
    top:473px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:334px;
    top:967px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_text_sketch {
    font-family: '应用字体';
}

.u72 {
    position:absolute;
    left:514px;
    top:967px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72_text_sketch {
    font-family: '应用字体';
}

.u73 {
    position:absolute;
    left:132px;
    top:665px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:132px;
    top:691px;
    width:876px;
    height:96px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74_text_sketch {
    font-family: '应用字体';
}

.u75 {
    position:absolute;
    left:132px;
    top:806px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:229px;
    top:802px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76_text_sketch {
    font-family: '应用字体';
}

.u77 {
    position:absolute;
    left:664px;
    top:797px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77_text_sketch {
    font-family: '应用字体';
}

.u78 {
    position:absolute;
    left:132px;
    top:851px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:132px;
    top:877px;
    width:429px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:140px;
    top:277px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_line {
    background-image: url('../401基本信息_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:0px;
    top:4px;
    width:547px;
    height:3px;
}

.u93 {
    position:absolute;
    left:103px;
    top:499px;
    width:547px;
    height:10px;
    
}

.u94 {
    position:absolute;
    left:169px;
    top:179px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:412px;
    top:179px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:552px;
    top:179px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:684px;
    top:173px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:143px;
    top:212px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:241px;
    top:205px;
    width:413px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99_text_sketch {
    font-family: '应用字体';
}

.u100 {
    position:absolute;
    left:241px;
    top:170px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100_text_sketch {
    font-family: '应用字体';
}

.u101 {
    position:absolute;
    left:432px;
    top:170px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101_text_sketch {
    font-family: '应用字体';
}

.u102 {
    position:absolute;
    left:567px;
    top:170px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102_text_sketch {
    font-family: '应用字体';
}

.u103_line {
    background-image: url('../主菜单取菜点_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u103 {
    position:absolute;
    left:0px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u104 {
    position:absolute;
    left:1px;
    top:0px;
    width:171px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:654px;
    top:16px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:964px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:295px;
    top:16px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:379px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:446px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:182px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:208px;
    top:11px;
    width:16px;
    height:22px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u112 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:241px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u114_container {
    position:absolute;
    left:919px;
    top:9px;
    width:16px;
    height:22px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u115 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:889px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_menu {
    background-image: url('../主菜单取菜点_files/u117_menu.png');
}

.u117_menu {
    position:absolute;
    left:882px;
    top:10px;
    width:44px;
    height:29px;
}

#u117_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u118 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u119_normal {
    background-image: url('../主菜单取菜点_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_menu {
    background-image: url('../主菜单取菜点_files/u121_menu.png');
}

.u121_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:69px;
}

#u121_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

#u122 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:65px
}

.u123_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_menu {
    background-image: url('../主菜单取菜点_files/u129_menu.png');
}

.u129_menu {
    position:absolute;
    left:63px;
    top:37px;
    width:71px;
    height:92px;
}

#u129_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u131_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u137_normal {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:800px;
    top:16px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

