body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../主菜单取菜点_files/u103_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:1px;
    top:0px;
    width:171px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:654px;
    top:16px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:964px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:295px;
    top:16px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:379px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:446px;
    top:16px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:182px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u8_container {
    position:absolute;
    left:208px;
    top:11px;
    width:16px;
    height:22px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u9 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:241px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../主菜单取菜点_files/u111_normal.png');
}

.u11_container {
    position:absolute;
    left:919px;
    top:9px;
    width:16px;
    height:22px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u12 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:889px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../主菜单取菜点_files/u117_menu.png');
}

.u14_menu {
    position:absolute;
    left:882px;
    top:10px;
    width:44px;
    height:29px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u16_normal {
    background-image: url('../主菜单取菜点_files/u119_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../主菜单取菜点_files/u121_menu.png');
}

.u18_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:69px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

#u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:65px
}

.u20_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../主菜单取菜点_files/u123_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../主菜单取菜点_files/u129_menu.png');
}

.u26_menu {
    position:absolute;
    left:63px;
    top:37px;
    width:71px;
    height:92px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u28_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../主菜单取菜点_files/u131_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u34_normal {
    background-image: url('../主菜单取菜点_files/u137_mouseOver.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:800px;
    top:16px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:20px;
    top:128px;
    width:1064px;
    height:129px
}

.u39_normal {
    background-image: url('../406配送信息_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:52px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:66px;
    top:0px;
    width:100px;
    height:52px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:166px;
    top:0px;
    width:100px;
    height:52px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:266px;
    top:0px;
    width:100px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:366px;
    top:0px;
    width:97px;
    height:52px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u49_container {
    position:absolute;
    left:463px;
    top:0px;
    width:100px;
    height:52px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u51_container {
    position:absolute;
    left:563px;
    top:0px;
    width:100px;
    height:52px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:663px;
    top:0px;
    width:97px;
    height:52px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u55_container {
    position:absolute;
    left:759px;
    top:0px;
    width:100px;
    height:52px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u57_container {
    position:absolute;
    left:859px;
    top:0px;
    width:100px;
    height:52px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u59_container {
    position:absolute;
    left:959px;
    top:0px;
    width:100px;
    height:52px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../406配送信息_files/u39_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:52px;
    width:66px;
    height:52px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:58px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u63_container {
    position:absolute;
    left:66px;
    top:52px;
    width:100px;
    height:52px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u65_container {
    position:absolute;
    left:166px;
    top:52px;
    width:100px;
    height:52px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u67_container {
    position:absolute;
    left:266px;
    top:52px;
    width:100px;
    height:52px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u69_container {
    position:absolute;
    left:366px;
    top:52px;
    width:97px;
    height:52px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u71_container {
    position:absolute;
    left:463px;
    top:52px;
    width:100px;
    height:52px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u73_container {
    position:absolute;
    left:563px;
    top:52px;
    width:100px;
    height:52px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u75_container {
    position:absolute;
    left:663px;
    top:52px;
    width:97px;
    height:52px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u77_container {
    position:absolute;
    left:759px;
    top:52px;
    width:100px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u79_container {
    position:absolute;
    left:859px;
    top:52px;
    width:100px;
    height:52px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u81_container {
    position:absolute;
    left:959px;
    top:52px;
    width:100px;
    height:52px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../406配送信息_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:104px;
    width:66px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:66px;
    top:104px;
    width:100px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u87_container {
    position:absolute;
    left:166px;
    top:104px;
    width:100px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:266px;
    top:104px;
    width:100px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../406配送信息_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:366px;
    top:104px;
    width:97px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u93_container {
    position:absolute;
    left:463px;
    top:104px;
    width:100px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u95_container {
    position:absolute;
    left:563px;
    top:104px;
    width:100px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../406配送信息_files/u91_normal.png');
}

.u97_container {
    position:absolute;
    left:663px;
    top:104px;
    width:97px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u99_container {
    position:absolute;
    left:759px;
    top:104px;
    width:100px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u101_container {
    position:absolute;
    left:859px;
    top:104px;
    width:100px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u103_container {
    position:absolute;
    left:959px;
    top:104px;
    width:100px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:43px;
    top:512px;
    width:600px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:20px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:20px;
    top:295px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:20px;
    top:329px;
    width:1061px;
    height:113px
}

.u109_normal {
    background-image: url('../406配送信息_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:36px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:42px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:66px;
    top:0px;
    width:100px;
    height:36px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u113_container {
    position:absolute;
    left:166px;
    top:0px;
    width:100px;
    height:36px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u115_container {
    position:absolute;
    left:266px;
    top:0px;
    width:100px;
    height:36px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../406配送信息_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:366px;
    top:0px;
    width:97px;
    height:36px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:42px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u119_container {
    position:absolute;
    left:463px;
    top:0px;
    width:100px;
    height:36px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u121_container {
    position:absolute;
    left:563px;
    top:0px;
    width:100px;
    height:36px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../406配送信息_files/u117_normal.png');
}

.u123_container {
    position:absolute;
    left:663px;
    top:0px;
    width:97px;
    height:36px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:42px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../406配送信息_files/u117_normal.png');
}

.u125_container {
    position:absolute;
    left:759px;
    top:0px;
    width:97px;
    height:36px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:42px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u127_container {
    position:absolute;
    left:856px;
    top:0px;
    width:100px;
    height:36px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../406配送信息_files/u111_normal.png');
}

.u129_container {
    position:absolute;
    left:956px;
    top:0px;
    width:100px;
    height:36px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../406配送信息_files/u39_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:36px;
    width:66px;
    height:52px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:58px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u133_container {
    position:absolute;
    left:66px;
    top:36px;
    width:100px;
    height:52px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u135_container {
    position:absolute;
    left:166px;
    top:36px;
    width:100px;
    height:52px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u137_container {
    position:absolute;
    left:266px;
    top:36px;
    width:100px;
    height:52px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u139_container {
    position:absolute;
    left:366px;
    top:36px;
    width:97px;
    height:52px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u141_container {
    position:absolute;
    left:463px;
    top:36px;
    width:100px;
    height:52px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u143_container {
    position:absolute;
    left:563px;
    top:36px;
    width:100px;
    height:52px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u145_container {
    position:absolute;
    left:663px;
    top:36px;
    width:97px;
    height:52px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../406配送信息_files/u47_normal.png');
}

.u147_container {
    position:absolute;
    left:759px;
    top:36px;
    width:97px;
    height:52px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:58px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u149_container {
    position:absolute;
    left:856px;
    top:36px;
    width:100px;
    height:52px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../406配送信息_files/u41_normal.png');
}

.u151_container {
    position:absolute;
    left:956px;
    top:36px;
    width:100px;
    height:52px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:58px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../406配送信息_files/u83_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:88px;
    width:66px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u155_container {
    position:absolute;
    left:66px;
    top:88px;
    width:100px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u157_container {
    position:absolute;
    left:166px;
    top:88px;
    width:100px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u159_container {
    position:absolute;
    left:266px;
    top:88px;
    width:100px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../406配送信息_files/u91_normal.png');
}

.u161_container {
    position:absolute;
    left:366px;
    top:88px;
    width:97px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u163_container {
    position:absolute;
    left:463px;
    top:88px;
    width:100px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u165_container {
    position:absolute;
    left:563px;
    top:88px;
    width:100px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../406配送信息_files/u91_normal.png');
}

.u167_container {
    position:absolute;
    left:663px;
    top:88px;
    width:97px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../406配送信息_files/u91_normal.png');
}

.u169_container {
    position:absolute;
    left:759px;
    top:88px;
    width:97px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u171_container {
    position:absolute;
    left:856px;
    top:88px;
    width:100px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../406配送信息_files/u85_normal.png');
}

.u173_container {
    position:absolute;
    left:956px;
    top:88px;
    width:100px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:1226px;
    top:128px;
    width:307px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

