body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../主菜单消费者_files/u21_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:1px;
    top:0px;
    width:173px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:964px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:294px;
    top:16px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:365px;
    top:16px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:583px;
    top:17px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:436px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:676px;
    top:17px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:184px;
    top:17px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../主菜单消费者_files/u30_normal.png');
}

.u9_container {
    position:absolute;
    left:210px;
    top:12px;
    width:16px;
    height:22px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u10 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:509px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:234px;
    top:16px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_menu {
    background-image: url('../主菜单消费者_files/u34_menu.png');
}

.u13_menu {
    position:absolute;
    left:922px;
    top:10px;
    width:44px;
    height:29px;
}

#u13_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u15_normal {
    background-image: url('../主菜单消费者_files/u36_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../主菜单消费者_files/u38_menu.png');
}

.u17_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:129px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:126px;
}

#u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:125px
}

.u19_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:60px;
    width:66px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:80px;
    width:66px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:100px;
    width:66px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_menu {
    background-image: url('../主菜单消费者_files/u52_menu.png');
}

.u31_menu {
    position:absolute;
    left:63px;
    top:97px;
    width:71px;
    height:92px;
}

#u31_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u33_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../主菜单消费者_files/u60_mouseOver.png');
}

.u39_normal {
    background-image: url('../主菜单消费者_files/u60_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:872px;
    top:17px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:812px;
    top:17px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../150消费者综合信息_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:20px;
    top:70px;
    width:232px;
    height:185px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:191px;
}

.u45 {
    position:absolute;
    left:2px;
    top:84px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:20px;
    top:289px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_text_sketch {
    font-family: '应用字体';
}

.u47 {
    position:absolute;
    left:120px;
    top:289px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_text_sketch {
    font-family: '应用字体';
}

.u48 {
    position:absolute;
    left:221px;
    top:289px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_text_sketch {
    font-family: '应用字体';
}

.u49 {
    position:absolute;
    left:321px;
    top:289px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_text_sketch {
    font-family: '应用字体';
}

.u50 {
    position:absolute;
    left:421px;
    top:289px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_text_sketch {
    font-family: '应用字体';
}

#u51 {
    position:absolute;
    left:20px;
    top:314px;
    width:941px;
    height:396px;
    overflow:hidden;
}

#pd4u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:396px;
    
}

#pd3u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:396px;
    
}

#pd2u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:396px;
    
}

.u52_normal {
    background-image: url('../150消费者综合信息_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:487px;
    height:352px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:487px;
    height:352px;
}

.u53 {
    position:absolute;
    left:2px;
    top:168px;
    width:483px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:396px;
    
}

.u54_normal {
    background-image: url('../150消费者综合信息_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:406px;
    height:295px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:406px;
    height:295px;
}

.u55 {
    position:absolute;
    left:2px;
    top:140px;
    width:402px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:941px;
    height:396px;
    
}

#u56 {
    position:absolute;
    left:0px;
    top:1px;
    width:447px;
    height:81px
}

.u57_normal {
    background-image: url('../150消费者综合信息_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../150消费者综合信息_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:0px;
    width:140px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../150消费者综合信息_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:240px;
    top:0px;
    width:89px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../150消费者综合信息_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:329px;
    top:0px;
    width:113px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../150消费者综合信息_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../150消费者综合信息_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:100px;
    top:20px;
    width:140px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../150消费者综合信息_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:240px;
    top:20px;
    width:89px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../150消费者综合信息_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:329px;
    top:20px;
    width:113px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../150消费者综合信息_files/u57_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:56px;
    width:100px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../150消费者综合信息_files/u59_normal.png');
}

.u75_container {
    position:absolute;
    left:100px;
    top:56px;
    width:140px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../150消费者综合信息_files/u61_normal.png');
}

.u77_container {
    position:absolute;
    left:240px;
    top:56px;
    width:89px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../150消费者综合信息_files/u63_normal.png');
}

.u79_container {
    position:absolute;
    left:329px;
    top:56px;
    width:113px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:241px;
    top:20px;
    width:90px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81_text_sketch {
    font-family: '应用字体';
}

.u82 {
    position:absolute;
    left:305px;
    top:79px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:305px;
    top:108px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:753px;
    top:74px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_text_sketch {
    font-family: '应用字体';
}

