body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../主菜单消费者_files/u21_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:29px;
    width:998px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:1px;
    top:0px;
    width:173px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:964px;
    top:16px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:294px;
    top:16px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:365px;
    top:16px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:583px;
    top:17px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:436px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:676px;
    top:17px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:184px;
    top:17px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../主菜单消费者_files/u30_normal.png');
}

.u9_container {
    position:absolute;
    left:210px;
    top:12px;
    width:16px;
    height:22px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:22px;
}

.u10 {
    position:absolute;
    left:2px;
    top:3px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:509px;
    top:16px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:234px;
    top:16px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_menu {
    background-image: url('../主菜单消费者_files/u34_menu.png');
}

.u13_menu {
    position:absolute;
    left:922px;
    top:10px;
    width:44px;
    height:29px;
}

#u13_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

#u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:25px
}

.u15_normal {
    background-image: url('../主菜单消费者_files/u36_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../主菜单消费者_files/u38_menu.png');
}

.u17_menu {
    position:absolute;
    left:-3px;
    top:17px;
    width:75px;
    height:129px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:126px;
}

#u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:125px
}

.u19_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:20px;
    width:66px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:40px;
    width:66px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:60px;
    width:66px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:80px;
    width:66px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../主菜单消费者_files/u40_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:100px;
    width:66px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_menu {
    background-image: url('../主菜单消费者_files/u52_menu.png');
}

.u31_menu {
    position:absolute;
    left:63px;
    top:97px;
    width:71px;
    height:92px;
}

#u31_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:89px;
}

#u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:88px
}

.u33_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:20px;
    width:62px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../主菜单消费者_files/u54_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:40px;
    width:62px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../主菜单消费者_files/u60_mouseOver.png');
}

.u39_normal {
    background-image: url('../主菜单消费者_files/u60_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:60px;
    width:62px;
    height:23px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:872px;
    top:17px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:812px;
    top:17px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:562px;
    top:1523px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: '应用字体';
}

.u45 {
    position:absolute;
    left:392px;
    top:1523px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_text_sketch {
    font-family: '应用字体';
}

.u46 {
    position:absolute;
    left:129px;
    top:277px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:146px;
    top:374px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:133px;
    top:417px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:389px;
    top:417px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:529px;
    top:417px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:661px;
    top:417px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:133px;
    top:451px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:218px;
    top:451px;
    width:413px;
    height:77px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_text_sketch {
    font-family: '应用字体';
}

.u54 {
    position:absolute;
    left:218px;
    top:365px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_text_sketch {
    font-family: '应用字体';
}

.u55 {
    position:absolute;
    left:218px;
    top:408px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55_text_sketch {
    font-family: '应用字体';
}

.u56 {
    position:absolute;
    left:409px;
    top:408px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_text_sketch {
    font-family: '应用字体';
}

.u57 {
    position:absolute;
    left:544px;
    top:408px;
    width:115px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_text_sketch {
    font-family: '应用字体';
}

.u58 {
    position:absolute;
    left:133px;
    top:556px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:218px;
    top:589px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: '应用字体';
}

.u60 {
    position:absolute;
    left:133px;
    top:598px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:456px;
    top:595px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:158px;
    top:641px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:218px;
    top:632px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63_text_sketch {
    font-family: '应用字体';
}

.u64 {
    position:absolute;
    left:218px;
    top:547px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64_text_sketch {
    font-family: '应用字体';
}

.u65_normal {
    background-image: url('../110配送地址信息_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:721px;
    top:208px;
    width:273px;
    height:281px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:273px;
    height:281px;
}

.u66 {
    position:absolute;
    left:2px;
    top:132px;
    width:269px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:796px;
    top:499px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:146px;
    top:1623px;
    width:848px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:258px;
    top:679px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69_text_sketch {
    font-family: '应用字体';
}

.u70 {
    position:absolute;
    left:129px;
    top:983px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u75 {
    position:absolute;
    left:122px;
    top:1065px;
    width:886px;
    height:214px;
    overflow:hidden;
}

#pd1u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:886px;
    height:214px;
    
}

.u76_normal {
    background-image: url('../110配送地址信息_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:559px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:559px;
}

.u77 {
    position:absolute;
    left:2px;
    top:272px;
    width:938px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:886px;
    height:214px;
    
}

#u78 {
    position:absolute;
    left:0px;
    top:5px;
    width:870px;
    height:65px
}

.u79_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:107px;
    top:0px;
    width:364px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:471px;
    top:0px;
    width:72px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:543px;
    top:0px;
    width:75px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u87_container {
    position:absolute;
    left:618px;
    top:0px;
    width:72px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../110配送地址信息_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:690px;
    top:0px;
    width:70px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../110配送地址信息_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:760px;
    top:0px;
    width:105px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:20px;
    width:107px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u95_container {
    position:absolute;
    left:107px;
    top:20px;
    width:364px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u97_container {
    position:absolute;
    left:471px;
    top:20px;
    width:72px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u99_container {
    position:absolute;
    left:543px;
    top:20px;
    width:75px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u101_container {
    position:absolute;
    left:618px;
    top:20px;
    width:72px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../110配送地址信息_files/u89_normal.png');
}

.u103_container {
    position:absolute;
    left:690px;
    top:20px;
    width:70px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../110配送地址信息_files/u91_normal.png');
}

.u105_container {
    position:absolute;
    left:760px;
    top:20px;
    width:105px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:40px;
    width:107px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u109_container {
    position:absolute;
    left:107px;
    top:40px;
    width:364px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u111_container {
    position:absolute;
    left:471px;
    top:40px;
    width:72px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u113_container {
    position:absolute;
    left:543px;
    top:40px;
    width:75px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u115_container {
    position:absolute;
    left:618px;
    top:40px;
    width:72px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../110配送地址信息_files/u89_normal.png');
}

.u117_container {
    position:absolute;
    left:690px;
    top:40px;
    width:70px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../110配送地址信息_files/u91_normal.png');
}

.u119_container {
    position:absolute;
    left:760px;
    top:40px;
    width:105px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:137px;
    top:323px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:217px;
    top:314px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122_text_sketch {
    font-family: '应用字体';
}

.u123_line {
    background-image: url('../110配送地址信息_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:877px;
    height:3px;
}

.u123 {
    position:absolute;
    left:117px;
    top:963px;
    width:877px;
    height:10px;
    
}

#u124 {
    position:absolute;
    left:128px;
    top:734px;
    width:721px;
    height:128px
}

.u125_normal {
    background-image: url('../110配送地址信息_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:23px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:29px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../110配送地址信息_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:125px;
    top:0px;
    width:100px;
    height:23px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../110配送地址信息_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:225px;
    top:0px;
    width:219px;
    height:23px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:29px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../110配送地址信息_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:444px;
    top:0px;
    width:172px;
    height:23px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:29px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../110配送地址信息_files/u127_normal.png');
}

.u133_container {
    position:absolute;
    left:616px;
    top:0px;
    width:100px;
    height:23px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../110配送地址信息_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:23px;
    width:125px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:125px;
    top:23px;
    width:100px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../110配送地址信息_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:225px;
    top:23px;
    width:219px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:26px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../110配送地址信息_files/u141_normal.png');
}

.u141_container {
    position:absolute;
    left:444px;
    top:23px;
    width:172px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u143_container {
    position:absolute;
    left:616px;
    top:23px;
    width:100px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../110配送地址信息_files/u135_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:43px;
    width:125px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u147_container {
    position:absolute;
    left:125px;
    top:43px;
    width:100px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../110配送地址信息_files/u139_normal.png');
}

.u149_container {
    position:absolute;
    left:225px;
    top:43px;
    width:219px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:26px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../110配送地址信息_files/u141_normal.png');
}

.u151_container {
    position:absolute;
    left:444px;
    top:43px;
    width:172px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u153_container {
    position:absolute;
    left:616px;
    top:43px;
    width:100px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../110配送地址信息_files/u135_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:63px;
    width:125px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u157_container {
    position:absolute;
    left:125px;
    top:63px;
    width:100px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../110配送地址信息_files/u139_normal.png');
}

.u159_container {
    position:absolute;
    left:225px;
    top:63px;
    width:219px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:26px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../110配送地址信息_files/u141_normal.png');
}

.u161_container {
    position:absolute;
    left:444px;
    top:63px;
    width:172px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u163_container {
    position:absolute;
    left:616px;
    top:63px;
    width:100px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../110配送地址信息_files/u135_normal.png');
}

.u165_container {
    position:absolute;
    left:0px;
    top:83px;
    width:125px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u167_container {
    position:absolute;
    left:125px;
    top:83px;
    width:100px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../110配送地址信息_files/u139_normal.png');
}

.u169_container {
    position:absolute;
    left:225px;
    top:83px;
    width:219px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:26px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../110配送地址信息_files/u141_normal.png');
}

.u171_container {
    position:absolute;
    left:444px;
    top:83px;
    width:172px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u173_container {
    position:absolute;
    left:616px;
    top:83px;
    width:100px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../110配送地址信息_files/u135_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:103px;
    width:125px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u177_container {
    position:absolute;
    left:125px;
    top:103px;
    width:100px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../110配送地址信息_files/u139_normal.png');
}

.u179_container {
    position:absolute;
    left:225px;
    top:103px;
    width:219px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:26px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../110配送地址信息_files/u141_normal.png');
}

.u181_container {
    position:absolute;
    left:444px;
    top:103px;
    width:172px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../110配送地址信息_files/u137_normal.png');
}

.u183_container {
    position:absolute;
    left:616px;
    top:103px;
    width:100px;
    height:20px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:129px;
    top:714px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:441px;
    top:310px;
    width:9px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:441px;
    top:357px;
    width:9px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:679px;
    top:400px;
    width:9px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:650px;
    top:443px;
    width:9px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:122px;
    top:1317px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u191 {
    position:absolute;
    left:122px;
    top:1333px;
    width:877px;
    height:65px
}

.u192_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u192_container {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:20px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u194_container {
    position:absolute;
    left:107px;
    top:0px;
    width:364px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u196_container {
    position:absolute;
    left:471px;
    top:0px;
    width:72px;
    height:20px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u197 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u198_container {
    position:absolute;
    left:543px;
    top:0px;
    width:75px;
    height:20px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u199 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u200_container {
    position:absolute;
    left:618px;
    top:0px;
    width:72px;
    height:20px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u201 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u202_container {
    position:absolute;
    left:690px;
    top:0px;
    width:72px;
    height:20px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u203 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../110配送地址信息_files/u204_normal.png');
}

.u204_container {
    position:absolute;
    left:762px;
    top:0px;
    width:110px;
    height:20px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u205 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u206_container {
    position:absolute;
    left:0px;
    top:20px;
    width:107px;
    height:20px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u207 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u208_container {
    position:absolute;
    left:107px;
    top:20px;
    width:364px;
    height:20px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u210_container {
    position:absolute;
    left:471px;
    top:20px;
    width:72px;
    height:20px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u211 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u212_container {
    position:absolute;
    left:543px;
    top:20px;
    width:75px;
    height:20px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u213 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u214_container {
    position:absolute;
    left:618px;
    top:20px;
    width:72px;
    height:20px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u215 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u216_container {
    position:absolute;
    left:690px;
    top:20px;
    width:72px;
    height:20px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u217 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../110配送地址信息_files/u204_normal.png');
}

.u218_container {
    position:absolute;
    left:762px;
    top:20px;
    width:110px;
    height:20px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u219 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../110配送地址信息_files/u79_normal.png');
}

.u220_container {
    position:absolute;
    left:0px;
    top:40px;
    width:107px;
    height:20px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:26px;
}

.u221 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../110配送地址信息_files/u81_normal.png');
}

.u222_container {
    position:absolute;
    left:107px;
    top:40px;
    width:364px;
    height:20px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:370px;
    height:26px;
}

.u223 {
    position:absolute;
    left:2px;
    top:2px;
    width:360px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u224_container {
    position:absolute;
    left:471px;
    top:40px;
    width:72px;
    height:20px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u225 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../110配送地址信息_files/u85_normal.png');
}

.u226_container {
    position:absolute;
    left:543px;
    top:40px;
    width:75px;
    height:20px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:26px;
}

.u227 {
    position:absolute;
    left:2px;
    top:2px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u228_container {
    position:absolute;
    left:618px;
    top:40px;
    width:72px;
    height:20px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u229 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../110配送地址信息_files/u83_normal.png');
}

.u230_container {
    position:absolute;
    left:690px;
    top:40px;
    width:72px;
    height:20px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u231 {
    position:absolute;
    left:2px;
    top:2px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../110配送地址信息_files/u204_normal.png');
}

.u232_container {
    position:absolute;
    left:762px;
    top:40px;
    width:110px;
    height:20px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u233 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:133px;
    top:158px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:133px;
    top:174px;
    width:417px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

