body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../主菜单未登录_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:998px;
    height:3px;
}

.u0 {
    position:absolute;
    left:4px;
    top:26px;
    width:998px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:5px;
    top:-3px;
    width:180px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:895px;
    top:13px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:837px;
    top:13px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:968px;
    top:13px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:195px;
    top:13px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:274px;
    top:13px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:434px;
    top:13px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:354px;
    top:13px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:15px;
    top:51px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:15px;
    top:185px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:15px;
    top:85px;
    width:256px;
    height:65px
}

.u13_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:151px;
    top:0px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:20px;
    width:151px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:151px;
    top:20px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:40px;
    width:151px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:151px;
    top:40px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:15px;
    top:231px;
    width:256px;
    height:105px
}

.u26_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u28_container {
    position:absolute;
    left:151px;
    top:0px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:151px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u32_container {
    position:absolute;
    left:151px;
    top:20px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:40px;
    width:151px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u36_container {
    position:absolute;
    left:151px;
    top:40px;
    width:100px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:60px;
    width:151px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u40_container {
    position:absolute;
    left:151px;
    top:60px;
    width:100px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../103角色_files/u13_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:80px;
    width:151px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../103角色_files/u15_normal.png');
}

.u44_container {
    position:absolute;
    left:151px;
    top:80px;
    width:100px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:362px;
    top:416px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_text_sketch {
    font-family: '应用字体';
}

