body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:68px;
    top:175px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:442px;
    top:175px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:568px;
    top:175px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:707px;
    top:175px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:16px;
    top:0px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:16px;
    top:0px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:147px;
    top:262px;
    width:170px;
    height:49px
}

.u11_normal {
    background-image: url('../260购物车_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../260购物车_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:20px;
    width:165px;
    height:24px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../260购物车_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:70px;
    top:238px;
    width:77px;
    height:68px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:74px;
}

.u16 {
    position:absolute;
    left:2px;
    top:26px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../260购物车_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:147px;
    top:238px;
    width:165px;
    height:24px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:162px;
    top:242px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:291px;
    top:264px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:291px;
    top:290px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:147px;
    top:361px;
    width:170px;
    height:49px
}

.u23_normal {
    background-image: url('../260购物车_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../260购物车_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:20px;
    width:165px;
    height:24px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../260购物车_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:70px;
    top:337px;
    width:77px;
    height:68px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:74px;
}

.u28 {
    position:absolute;
    left:2px;
    top:26px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../260购物车_files/u17_normal.png');
}

.u29_container {
    position:absolute;
    left:147px;
    top:337px;
    width:165px;
    height:24px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:162px;
    top:341px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:291px;
    top:363px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:291px;
    top:389px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../260购物车_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:868px;
    height:3px;
}

.u34 {
    position:absolute;
    left:39px;
    top:316px;
    width:868px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../260购物车_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:312px;
    top:238px;
    width:46px;
    height:68px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:74px;
}

.u36 {
    position:absolute;
    left:2px;
    top:26px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../260购物车_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:312px;
    top:337px;
    width:46px;
    height:68px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:74px;
}

.u38 {
    position:absolute;
    left:2px;
    top:26px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:805px;
    top:262px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:805px;
    top:363px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:147px;
    top:530px;
    width:170px;
    height:49px
}

.u48_normal {
    background-image: url('../260购物车_files/u11_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../260购物车_files/u13_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:20px;
    width:165px;
    height:24px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../260购物车_files/u15_normal.png');
}

.u52_container {
    position:absolute;
    left:70px;
    top:506px;
    width:77px;
    height:68px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:74px;
}

.u53 {
    position:absolute;
    left:2px;
    top:26px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../260购物车_files/u17_normal.png');
}

.u54_container {
    position:absolute;
    left:147px;
    top:506px;
    width:165px;
    height:24px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:162px;
    top:510px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:291px;
    top:532px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:291px;
    top:558px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:147px;
    top:629px;
    width:170px;
    height:49px
}

.u60_normal {
    background-image: url('../260购物车_files/u11_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../260购物车_files/u13_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:20px;
    width:165px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../260购物车_files/u15_normal.png');
}

.u64_container {
    position:absolute;
    left:70px;
    top:605px;
    width:77px;
    height:68px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:74px;
}

.u65 {
    position:absolute;
    left:2px;
    top:26px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../260购物车_files/u17_normal.png');
}

.u66_container {
    position:absolute;
    left:147px;
    top:605px;
    width:165px;
    height:24px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:162px;
    top:609px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:291px;
    top:631px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:291px;
    top:657px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../260购物车_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:0px;
    top:4px;
    width:868px;
    height:3px;
}

.u71 {
    position:absolute;
    left:39px;
    top:584px;
    width:868px;
    height:10px;
    
}

.u72_normal {
    background-image: url('../260购物车_files/u35_normal.png');
}

.u72_container {
    position:absolute;
    left:312px;
    top:506px;
    width:46px;
    height:68px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:74px;
}

.u73 {
    position:absolute;
    left:2px;
    top:26px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../260购物车_files/u35_normal.png');
}

.u74_container {
    position:absolute;
    left:312px;
    top:605px;
    width:46px;
    height:68px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:74px;
}

.u75 {
    position:absolute;
    left:2px;
    top:26px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:805px;
    top:530px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:805px;
    top:631px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:632px;
    top:139px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:661px;
    top:1124px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:692px;
    top:1163px;
    width:108px;
    height:31px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80_text_sketch {
    font-family: '应用字体';
}

.u81 {
    position:absolute;
    left:788px;
    top:132px;
    width:108px;
    height:31px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81_text_sketch {
    font-family: '应用字体';
}

.u82_line {
    background-image: url('../260购物车_files/u82_line.png');
}

.u82_line {
    position:absolute;
    left:0px;
    top:4px;
    width:918px;
    height:3px;
}

.u82 {
    position:absolute;
    left:18px;
    top:165px;
    width:918px;
    height:10px;
    
}

.u84 {
    position:absolute;
    left:16px;
    top:0px;
    width:56px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:16px;
    top:0px;
    width:56px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../260购物车_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:40px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:46px;
}

.u88 {
    position:absolute;
    left:2px;
    top:12px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

